// Set of color variables
$white: #fff;
$offWhite: #EDEFEE;
$black: #000;
$dark: #222;
$gray: #495E57;
$yellow: #F4CE14;
$blue: #00f;
$lightGreen: #a9c8be;
$purple: purple;

// Set of transitions
$transition: all .4s ease-in-out;

// Box shadows
$box-shadow: 0 .125rem .25rem -.125rem rgb(0 0 0 / 40%);