// Importing partials files
@use '../partials/variables' as *;
@use '../partials/mixins' as *;

// Styling footer component
footer {
    padding: 4rem 4rem 1rem;
    background-color: $lightGreen;
    box-shadow: $box-shadow;

    .footer-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 6rem;

        @include breakpoint-down(small) {
            gap: 2rem;
        }

        .link {
            .header {
                margin-bottom: 1.25rem;
            }
        }

        .footer-desc {
            img {
                width: 12.5rem;
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.6;
            }
        }

        .important-links {
            ul {
                li {
                    margin-top: 1rem;
                    cursor: pointer;
                    transition: $transition;

                    &:hover {
                        color: $purple;
                    }
                }
            }
        }

        .contact {
            .details {
                .detail {
                    margin-top: 1rem;
                }
            }
        }

        .socials {
            .social-links {
                @include flex-column;

                span {
                    margin-top: 1rem;
                    cursor: pointer;
                    transition: $transition;

                    &:hover {
                        color: $purple;
                    }
                }
            }
        }
    }

    > p {
        text-align: center;
        margin-top: 2rem;

        @include breakpoint-down(small) {
            font-size: .875rem;
        }

        > a {
            color: $purple;
        }
    }
}