// Importing partials files
@use '../partials/variables' as *;
@use '../partials/mixins' as *;

// Styling hero component
.hero {
    // background-color: $gray;
    background-image: url('../../public/assets/hero1.jpg');
    background-size: cover;
    min-height: 50vh;
    padding: 4rem 12rem;
    @include flex-between;
    position: relative;
        
        @include breakpoint-down(medium) {
            padding: 4rem 1.5rem;
        }
        
        .hero-text {
            @include breakpoint-down(medium) {
            }

            h1 {
                color: $yellow;
                font-size: 3rem;

                @include breakpoint-down(medium) {
                    font-size: 2rem;
                }
            }

            h4 {
                color: $white;
                margin: 1.5rem 0;
                font-size: 1.5rem;

                @include breakpoint-down(medium) {
                    font-size: 1.25rem;
                }
            }

            p {
                color: $white;
                margin: 1.5rem 0;

                @include breakpoint-down(medium) {
                    margin: 1rem 0 1.5rem;
                    font-size: .875rem;
                }
            }
        }
        .hero-img {
            width: 350px;
            height: 350px;
            position: absolute;
            right: 12rem;
            top: 6rem;

            @include breakpoint-down(medium) {
                display: none;
            }
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }
        }
}