// Importing partials files
@use '../partials/variables' as *;
@use '../partials/mixins' as *;

// Styling navbar component
nav {
    padding: .5rem 0;
    box-shadow: $box-shadow;

    .container {
        @include flex-between;

        @include breakpoint-down(medium) {
            padding: 1rem 3rem;
        }

        @include breakpoint-down(small) {
            padding: .5rem 1rem;
        }

        .desktop-nav-menu {
            @include flex-center;
            gap: 2rem;

            @include breakpoint-down(medium) {
                display: none;
            }

            li {
                color: $gray;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    color: $yellow;
                }
            }
        }

        .mobile-nav-menu {
            @include breakpoint-up(large) {
                display: none;
            }

            .bars-icon {
                position: relative;
                font-size: 1.5rem;
            }

            ul {
                position: absolute;
                top: -100%;
                right: 1rem;
                height: 70vh;
                width: 90%;
                background-color: $lightGreen;
                box-shadow: $box-shadow;
                padding: 1rem 2rem;
                @include flex-center;
                flex-direction: column;
                gap: 1.5rem;
                transition: $transition;
                z-index: 999;
                border-radius: 1rem;
                // display: none;

                @include breakpoint-down(small) {
                    width: 90%;
                    gap: 1rem;
                }

                &.showNavbar {
                    top: 4rem;
                }

                .times-icon {
                    align-self: flex-end;
                    margin-bottom: .5rem;
                    font-size: 1.5rem;
                }

                li {
                    font-size: 1.25rem;
                    color: $dark;
                    border-bottom: 2px solid $gray;
                    transition: $transition;
                    cursor: pointer;

                    @include breakpoint-down(small) {
                        font-size: 1rem;
                    }

                    &:hover {
                        color: $white;
                        border-bottom: 2px solid $offWhite;
                    }
                }
            }
        }
    }
}